*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    line-height:1.2;
    box-sizing: border-box;
}

body,html{
    overflow-x: auto;
    overflow-y: auto;
    background-color: #181818;
}

a {
    text-decoration: none ;
  }
button{
    border: none;
    cursor: pointer;
}
